{% extends "tickets/_base_ticket.html" %}
{% block title %}Auftrag bearbeiten – {{ ticket.title }}{% endblock %}

{% set form_action = "/tickets/update/" ~ ticket.id %}

{% block hidden_fields %}
<input type="hidden" name="description" x-ref="description">
{% endblock %}

{% block ticket_details %}
  {% include "tickets/partials/_ticket_details.html" %}
{% endblock %}

{% block ticket_fields %}
  {% include "tickets/zugang-sperren/_form_fields.html" %}
{% endblock %}

{% block ticket_actions %}
  {% include "tickets/partials/_ticket_actions.html" %}
{% endblock %}

{% block extra_js %}


{% endblock %}