<section class="flex-1 bg-white dark:bg-gray-800 border rounded-xl shadow p-8 space-y-12">


      <h2 class="text-xl font-semibold text-primary">
        Example Section
      </h2>

      <!-- ================= STAMMDATEN ================= -->
      <div>
        <h3 class="font-semibold mb-4">Example Section</h3>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

          <div>
            <label>Example Field</label>
            <input
              x-model="example"
              :class="inputClass('first_name', example)"
            >
          </div>
        </div>
      </div>
</section>