{% extends "tickets/_base_ticket.html" %}

{% set form_action = "/tickets" %}
{% set alpine_component = "hardwarePhase1Form()" %}

{% block hidden_fields %}
<input type="hidden" name="ticket_type" value="hardware">
<input type="hidden" name="description" x-ref="description">
{% endblock %}

{% block ticket_details %}
  {% include "tickets/partials/_ticket_details.html" %}
{% endblock %}

{% block ticket_fields %}
  {% include "tickets/hardware/_form_fields.html" %}
{% endblock %}

{% block ticket_actions %}
  {% include "tickets/partials/_ticket_actions.html" %}
{% endblock %}

{% block extra_js %}
<script>
  window.hardwarePhase1Form = function () {
    return {
      ...window.baseForm(),   // ← bringt inputClass(), validateOrScroll(), rules, etc.
      example: "",

      init() {
        // optional: init logic
      },

      rules: {
        first_name: { required: true }
      }
    };
  };
</script>

{% endblock %}